.containerSliderDetalhes{
    margin-top: 50px;
    margin-bottom: 200px;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}
.responsabiliza {
    font-size: 10px;
    color: #adadad;
    line-height: 1em;
}
.containerImageSlider{
    width: 500px;
}
.fotoImageSlider{
    border-radius: 2px;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.containerFotosMiniatura {
    width: 100%;
    margin: 0 0 ;
    padding: 0;
}
.containerFotosMiniatura li{
    display: inline-block;
    padding-right: 4px;
    cursor: pointer;
}
.fotoMiniatura{
    border-radius: 2px;
}
.fotoMiniaturaSelecionada{
    border-radius: 2px;
    border: 1px solid #990000;
}

.containerTabelaDeValores{
    width: 100%;
    padding: 0 10px;
}

.containerTabelaDeValores .titulo{
    font-size: 16px;
    font-weight: 600;
    margin: 20px 0;
}
.containerTabelaDeValores  .containerImagemInfos{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}
.containerTabelaDeValores .containerInfoValor{
    margin-bottom: 5px;
    width: 260px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.containerTabelaDeValores .infoValor{
    color: #666;
    font-size: 14px;
}
.containerTabelaDeValores .valor{
    font-size: 15px;
}
.containerDetalhes{
    width: 560px;
    padding: 20px 20px;
    border-radius: 3px;
    /* background-color: #fff; */
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}

.containerDetalhes .secao1{
    padding-bottom: 10px;
    border-bottom: 1px solid #adadad;
}

.containerDetalhes .secao1 .marca{
    font-size: 13px;
}

.containerDetalhes .secao1 .modelo{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #b01717;
}

.containerDetalhes .containerMarcaIcones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.containerDetalhes .containerIcones {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75px;
}
.containerDetalhes .secao1 .containerIcone {
    cursor: pointer;
    min-width: 35px;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
}
.containerDetalhes .secao7 .containerIcone {
    cursor: pointer;
    min-width: 35px;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color: #fff;
}

.containerDetalhes .secao2{
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid #adadad;
}
.containerDetalhes .secao2 .descricoes{
    display: grid;
    width:  60%;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 6px;
}
.containerDetalhes .secao2 .descricoes .containerdescricao {
    padding: 15px 0;
}
.containerDetalhes .secao2 .descricoes .containerdescricao .descricaoTitulo{
    font-size: 12px;
    color: #666;
}
.containerDetalhes .secao2 .descricoes .containerdescricao .descricao{
    display: block;
    width: 100%;
}
.containerPreco{
    width: 40%;
    height: '100%';
    display: flex;
    justify-content: center;
    align-items: center;
}
.preco {
    font-size: 30px;
    font-weight: 600;
    color: #990000;
}

.containerDetalhes .secao3 {
    width: 100%;
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
}

.titulo {
    font-size: 12px;
    color: #666;
    display: block;
    margin-bottom: 10px;
}
.containerDetalhes .secao3 .containerOpcoes {
    display: grid;
    width:  100%;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 6px;
}

.containerDetalhes .secao3 .containerOpcao {
    padding: 3px 0;
}
.containerDetalhes .secao3 .opcao {
    font-size: 12px;
}
.containerDetalhes .secao4 {
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
}
.containerDetalhes .secao4 .observacao {
    font-size: 14px;
}

.containerDetalhes .secao5 {
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
}


.containerDetalhes .secao6 {
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
}

.containerDetalhes .secao7 {
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
    flex-direction: row;
    display: flex;
}

.containerDetalhes .secao7 .label{
    font-size: 12px;
}

.containerDetalhes .secao8 {
    padding: 15px 0;
    border-bottom: 1px solid #adadad;
}
.containerDetalhes .secao8 .titulo{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 10px;
}

.containerDetalhes .secao8 .containerAnuncianteFormulario{
    flex-direction: row;
    display: flex;
    width: 100%;
}
.containerDetalhes .secao8 .containerAnunciante{
    width: 50%px;
    padding: 0 10px;
}

.containerDetalhes .secao8 .containerAnunciante .containerLogoAnunciante{
    width: 100%;
    height: 80px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
}

.containerDetalhes .secao8 .containerAnunciante .nomeAnunciante{
    display: block;
    font-weight: bold;
    font-size: 15px;
    color: #333;
    margin: 10px 0;
}
.containerDetalhes .secao8  .containerAnunciante .enderecoAnunciante{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 12px;
    vertical-align: baseline;
    background: transparent;
    color: #999;
}

.containerDetalhes .secao8  .containerAnunciante .containerIcone {
    cursor: pointer;
    min-height: 35px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    border-radius: 3px;
    background-color: #fff;
    padding: 8px 20px;
    display: flex;
}
.containerDetalhes .secao8  .containerFormulario{
    width: 50%;
    padding: 0 10px;
}
.containerDetalhes .secao8  .containerFormulario .inputTexto {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 0 10px;
    margin: 5px 0 5px 0;
}
.containerDetalhes .secao9 {
    padding: 35px 0;
    display: flex;
    justify-content: center;

}
.containerDetalhes .secao9 .label{
    font-size: 14px;
    font-weight: 600;
}