.container{
    margin: 20px 0;
    width: 200px;
}
.containerValues{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.value{
    font-size: 12px;
}
.titulo {
    font-size: 14px;
}
