.container{
    width: 200px;
    padding-right: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #adadad;
    /* position: fixed; */
}
.containerHeader{
    display: flex;
    width: 200px;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
    justify-content: space-between;
}
.addRemove{
    cursor: pointer;
}
.containerBotaoBusca{
    background-color: #800;
    width: 200px;
    height: 40px;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.containerBotaoBuscaDesativado{
    background-color: #666;
    width: 200px;
    height: 40px;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
