.container{
    justify-content: center;
    align-items: center;
    width: 780px;
}
.containerList{
    overflow: auto;
    height: 100vh;
}
.containerList::-webkit-scrollbar {
    display: none;
}
.containerGrade{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.containerTotal{
    margin-bottom: 20px;
}

.containerTotal > span{
    font-size: 14px;
    color: #666;
}

.containerVerMais{
    padding: 20px 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.vermais{
    color: #800;
}