.container{
    width: 220px;
    height:  40px;
    border-radius: 3px;
    background-color: white;
    padding: 5px 10px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    display: flex;
    margin-bottom: 10px;
    cursor: pointer;
}
.containerTitulo {
    width: 190px;
    margin: 10px 0;
}
.select {
    width: 100%;
    border-width: 0px;
    outline: 0;
}
.option {
    background-color: white;
}

.titulo {
    color: #666;
    font-size: 13px;
}
.selecionado {
    color: #000;
    font-size: 16px;
    margin-top: 3px;
}
.arrow {
    height:  55px;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
}