@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,
body {
  width:1095px;
  margin-left:auto;
  margin-right:auto;
  background-color: white;
  background: #E9E9E9;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.containerMenuList {
  display: flex;
  flex-direction: row;
}
